<div>
  <h2 id="page-heading" data-cy="PreguntaHeading">
    <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesPregunta.home.title">Preguntas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesPregunta.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pregunta"
        [routerLink]="['/pregunta/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesPregunta.home.createLabel">Crear nuevo Pregunta</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (preguntas().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesPregunta.home.notFound">Ningún Preguntas encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="numeroPregunta">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesPregunta.numeroPregunta">Numero Pregunta</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="textoPregunta">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesPregunta.textoPregunta">Texto Pregunta</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="obligatoria">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesPregunta.obligatoria">Obligatoria</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="activa">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesPregunta.activa">Activa</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fechaCreacion">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesPregunta.fechaCreacion">Fecha Creacion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cuestionario.id">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesPregunta.cuestionario">Cuestionario</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (pregunta of preguntas(); track trackId(pregunta)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/pregunta', pregunta.id, 'view']">{{ pregunta.id }}</a>
              </td>
              <td>{{ pregunta.numeroPregunta }}</td>
              <td>{{ pregunta.textoPregunta }}</td>
              <td>{{ pregunta.obligatoria }}</td>
              <td>{{ pregunta.activa }}</td>
              <td>{{ pregunta.fechaCreacion | formatMediumDatetime }}</td>
              <td>
                @if (pregunta.cuestionario) {
                  <div>
                    <a [routerLink]="['/cuestionario', pregunta.cuestionario.id, 'view']">{{ pregunta.cuestionario.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/pregunta', pregunta.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/pregunta', pregunta.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(pregunta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (preguntas().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
