<div>
  <h2 id="page-heading" data-cy="DetalleRespuestaHeading">
    <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDetalleRespuesta.home.title">Detalle Respuestas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDetalleRespuesta.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-detalle-respuesta"
        [routerLink]="['/detalle-respuesta/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDetalleRespuesta.home.createLabel"
          >Crear nuevo Detalle Respuesta</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (detalleRespuestas().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDetalleRespuesta.home.notFound"
        >Ningún Detalle Respuestas encontrado</span
      >
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorRespuesta">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDetalleRespuesta.valorRespuesta">Valor Respuesta</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="timestampRespuesta">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDetalleRespuesta.timestampRespuesta"
                  >Timestamp Respuesta</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tiempoPreguntaSegundos">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDetalleRespuesta.tiempoPreguntaSegundos"
                  >Tiempo Pregunta Segundos</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="escalaRespuesta.id">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDetalleRespuesta.escalaRespuesta">Escala Respuesta</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pregunta.id">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDetalleRespuesta.pregunta">Pregunta</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="respuestaUsuario.id">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDetalleRespuesta.respuestaUsuario">Respuesta Usuario</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (detalleRespuesta of detalleRespuestas(); track trackId(detalleRespuesta)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/detalle-respuesta', detalleRespuesta.id, 'view']">{{ detalleRespuesta.id }}</a>
              </td>
              <td>{{ detalleRespuesta.valorRespuesta }}</td>
              <td>{{ detalleRespuesta.timestampRespuesta | formatMediumDatetime }}</td>
              <td>{{ detalleRespuesta.tiempoPreguntaSegundos }}</td>
              <td>
                @if (detalleRespuesta.escalaRespuesta) {
                  <div>
                    <a [routerLink]="['/escala-respuesta', detalleRespuesta.escalaRespuesta.id, 'view']">{{
                      detalleRespuesta.escalaRespuesta.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (detalleRespuesta.pregunta) {
                  <div>
                    <a [routerLink]="['/pregunta', detalleRespuesta.pregunta.id, 'view']">{{ detalleRespuesta.pregunta.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (detalleRespuesta.respuestaUsuario) {
                  <div>
                    <a [routerLink]="['/respuesta-usuario', detalleRespuesta.respuestaUsuario.id, 'view']">{{
                      detalleRespuesta.respuestaUsuario.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/detalle-respuesta', detalleRespuesta.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a
                    [routerLink]="['/detalle-respuesta', detalleRespuesta.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(detalleRespuesta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (detalleRespuestas().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
