<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-usuario-heading"
        data-cy="UsuarioCreateUpdateHeading"
        jhiTranslate="donesEspiritualesApp.testDonesEspiritualesUsuario.home.createOrEditLabel"
      >
        Crear o editar Usuario
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="donesEspiritualesApp.testDonesEspiritualesUsuario.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nombreRef = editForm.get('nombre')!;
        <div class="mb-3">
          <label class="form-label" for="field_nombre" jhiTranslate="donesEspiritualesApp.testDonesEspiritualesUsuario.nombre"
            >Nombre</label
          >
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          @if (nombreRef.invalid && (nombreRef.dirty || nombreRef.touched)) {
            <div>
              @if (editForm.get('nombre')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('nombre')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Este campo no puede superar más de 100 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let apellidoRef = editForm.get('apellido')!;
        <div class="mb-3">
          <label class="form-label" for="field_apellido" jhiTranslate="donesEspiritualesApp.testDonesEspiritualesUsuario.apellido"
            >Apellido</label
          >
          <input type="text" class="form-control" name="apellido" id="field_apellido" data-cy="apellido" formControlName="apellido" />
          @if (apellidoRef.invalid && (apellidoRef.dirty || apellidoRef.touched)) {
            <div>
              @if (editForm.get('apellido')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('apellido')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Este campo no puede superar más de 100 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let emailRef = editForm.get('email')!;
        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="donesEspiritualesApp.testDonesEspiritualesUsuario.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
            <div>
              @if (editForm.get('email')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('email')?.errors?.pattern) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Email' }"
                  >Este campo debe seguir el patrón Email.</small
                >
              }
            </div>
          }
        </div>

        @let telefonoRef = editForm.get('telefono')!;
        <div class="mb-3">
          <label class="form-label" for="field_telefono" jhiTranslate="donesEspiritualesApp.testDonesEspiritualesUsuario.telefono"
            >Telefono</label
          >
          <input type="text" class="form-control" name="telefono" id="field_telefono" data-cy="telefono" formControlName="telefono" />
          @if (telefonoRef.invalid && (telefonoRef.dirty || telefonoRef.touched)) {
            <div>
              @if (editForm.get('telefono')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '20' }"
                  >Este campo no puede superar más de 20 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_fechaNacimiento"
            jhiTranslate="donesEspiritualesApp.testDonesEspiritualesUsuario.fechaNacimiento"
            >Fecha Nacimiento</label
          >
          <div class="input-group">
            <input
              id="field_fechaNacimiento"
              data-cy="fechaNacimiento"
              type="text"
              class="form-control"
              name="fechaNacimiento"
              ngbDatepicker
              #fechaNacimientoDp="ngbDatepicker"
              formControlName="fechaNacimiento"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaNacimientoDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_genero" jhiTranslate="donesEspiritualesApp.testDonesEspiritualesUsuario.genero"
            >Genero</label
          >
          <select class="form-control" name="genero" formControlName="genero" id="field_genero" data-cy="genero">
            <option [ngValue]="null">{{ 'donesEspiritualesApp.Genero.null' | translate }}</option>
            @for (genero of generoValues; track $index) {
              <option [value]="genero">{{ 'donesEspiritualesApp.Genero.' + genero | translate }}</option>
            }
          </select>
        </div>

        @let iglesiaRef = editForm.get('iglesia')!;
        <div class="mb-3">
          <label class="form-label" for="field_iglesia" jhiTranslate="donesEspiritualesApp.testDonesEspiritualesUsuario.iglesia"
            >Iglesia</label
          >
          <input type="text" class="form-control" name="iglesia" id="field_iglesia" data-cy="iglesia" formControlName="iglesia" />
          @if (iglesiaRef.invalid && (iglesiaRef.dirty || iglesiaRef.touched)) {
            <div>
              @if (editForm.get('iglesia')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '200' }"
                  >Este campo no puede superar más de 200 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let denominacionRef = editForm.get('denominacion')!;
        <div class="mb-3">
          <label class="form-label" for="field_denominacion" jhiTranslate="donesEspiritualesApp.testDonesEspiritualesUsuario.denominacion"
            >Denominacion</label
          >
          <input
            type="text"
            class="form-control"
            name="denominacion"
            id="field_denominacion"
            data-cy="denominacion"
            formControlName="denominacion"
          />
          @if (denominacionRef.invalid && (denominacionRef.dirty || denominacionRef.touched)) {
            <div>
              @if (editForm.get('denominacion')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Este campo no puede superar más de 100 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let fechaRegistroRef = editForm.get('fechaRegistro')!;
        <div class="mb-3">
          <label class="form-label" for="field_fechaRegistro" jhiTranslate="donesEspiritualesApp.testDonesEspiritualesUsuario.fechaRegistro"
            >Fecha Registro</label
          >
          <div class="d-flex">
            <input
              id="field_fechaRegistro"
              data-cy="fechaRegistro"
              type="datetime-local"
              class="form-control"
              name="fechaRegistro"
              formControlName="fechaRegistro"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (fechaRegistroRef.invalid && (fechaRegistroRef.dirty || fechaRegistroRef.touched)) {
            <div>
              @if (editForm.get('fechaRegistro')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('fechaRegistro')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Este campo debe ser una fecha y hora.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_ultimaActividad"
            jhiTranslate="donesEspiritualesApp.testDonesEspiritualesUsuario.ultimaActividad"
            >Ultima Actividad</label
          >
          <div class="d-flex">
            <input
              id="field_ultimaActividad"
              data-cy="ultimaActividad"
              type="datetime-local"
              class="form-control"
              name="ultimaActividad"
              formControlName="ultimaActividad"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        @let activoRef = editForm.get('activo')!;
        <div class="mb-3">
          <label class="form-label" for="field_activo" jhiTranslate="donesEspiritualesApp.testDonesEspiritualesUsuario.activo"
            >Activo</label
          >
          <input type="checkbox" class="form-check" name="activo" id="field_activo" data-cy="activo" formControlName="activo" />
          @if (activoRef.invalid && (activoRef.dirty || activoRef.touched)) {
            <div>
              @if (editForm.get('activo')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
