<div>
  <h2 id="page-heading" data-cy="DonEspiritualHeading">
    <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDonEspiritual.home.title">Don Espirituals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDonEspiritual.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-don-espiritual"
        [routerLink]="['/don-espiritual/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDonEspiritual.home.createLabel">Crear nuevo Don Espiritual</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (donEspirituals().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDonEspiritual.home.notFound">Ningún Don Espirituals encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nombre">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDonEspiritual.nombre">Nombre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nombreCorto">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDonEspiritual.nombreCorto">Nombre Corto</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descripcion">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDonEspiritual.descripcion">Descripcion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="caracteristicas">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDonEspiritual.caracteristicas">Caracteristicas</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="versiculosBiblicos">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDonEspiritual.versiculosBiblicos">Versiculos Biblicos</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="activo">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDonEspiritual.activo">Activo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ordenPresentacion">
              <div class="d-flex">
                <span jhiTranslate="donesEspiritualesApp.testDonesEspiritualesDonEspiritual.ordenPresentacion">Orden Presentacion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (donEspiritual of donEspirituals(); track trackId(donEspiritual)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/don-espiritual', donEspiritual.id, 'view']">{{ donEspiritual.id }}</a>
              </td>
              <td>{{ donEspiritual.nombre }}</td>
              <td>{{ donEspiritual.nombreCorto }}</td>
              <td>{{ donEspiritual.descripcion }}</td>
              <td>{{ donEspiritual.caracteristicas }}</td>
              <td>{{ donEspiritual.versiculosBiblicos }}</td>
              <td>{{ donEspiritual.activo }}</td>
              <td>{{ donEspiritual.ordenPresentacion }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/don-espiritual', donEspiritual.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/don-espiritual', donEspiritual.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(donEspiritual)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (donEspirituals().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
